* {
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  font-family: monospace;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  color: white;
}

.body {
  background-color: red;
  color: white;
}

img {
  max-width: 125px;
  max-height: 125px;
  height: auto;
  border: red 2px solid;
}

h1,
h2,
h3 {
  margin: 10px;
}

button {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
  min-width: 90px;
}
